<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="rating-slider-container">
        <div class="rating-slider-label">DISAGREE</div>
        <div class="rating-slider-inputs"><a href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg" style="" class="cursorsHover">
                    <rect width="19" height="19" rx="9.5" fill="#FFFFFF" class="cursorsHover" x="0.5" y="0.5"
                        stroke="#DCA21A"></rect>
                </svg></a><a href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg" style="">
                    <rect width="19" height="19" rx="9.5" fill="#FFFFFF" class="cursorsHover" x="0.5" y="0.5"
                        stroke="#D2B81B"></rect>
                </svg></a><a href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg" style="" class="cursorsHover">
                    <rect width="19" height="19" rx="9.5" fill="#FFFFFF" class="cursorsHover" x="0.5" y="0.5"
                        stroke="#A3BE1F"></rect>
                </svg></a><a href="#" class="cursorsHover"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg" style="" class="cursorsHover">
                    <rect width="19" height="19" rx="9.5" fill="#FFFFFF" class="cursorsHover" x="0.5" y="0.5"
                        stroke="#6BA822"></rect>
                </svg></a><a href="#" class="cursorsHover"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg" style="" class="cursorsHover">
                    <rect width="19" height="19" rx="9.5" fill="#FFFFFF" class="cursorsHover" x="0.5" y="0.5"
                        stroke="#439326"></rect>
                </svg></a>
            <div class="responsive-rating-slider-line"></div>
        </div>
        <div class="rating-slider-label">AGREE</div>
    </div>
</body>

</html>